In [1]:
from os.path import dirname, basename

import pandas as pd

from inpainting.load import load_dataframe
from inpainting.utils import get_paths

In [2]:
dataset = 'demo'
results_dirs = get_paths(f'../results/fi/{dataset}/*')

times_dfs = []
for results_dir in results_dirs:
    for path in get_paths(f'{results_dir}/Benchmark/*/inference_times.csv'):
        times_df = load_dataframe(path)
        times_df['model'] = basename(results_dir)
        times_df['sequence_name'] = basename(dirname(path))
        times_dfs.append(times_df)
times_dfs = pd.concat(times_dfs)

results_dfs = []
for results_dir in results_dirs:
    for path in get_paths(f'{results_dir}/Evaluation/*/results.csv'):
        results_df = load_dataframe(path)
        results_df['model'] = basename(results_dir)
        results_df['sequence_name'] = basename(dirname(path))
        results_dfs.append(results_df)
results_df = pd.concat(results_dfs)

df = pd.merge(results_df, times_dfs, on=['model', 'sequence_name', 'frame_id'])
df

,frame_id,endpoint_error,model,sequence_name,inference_time
0,0,0.000196,fi_kernelfill,breakdance_paragliding_002,239.788803
1,1,0.000194,fi_kernelfill,breakdance_paragliding_002,205.337021
2,2,0.000190,fi_kernelfill,breakdance_paragliding_002,194.891739
3,3,0.000175,fi_kernelfill,breakdance_paragliding_002,187.498428
4,4,0.000172,fi_kernelfill,breakdance_paragliding_002,199.835556
...,...,...,...,...,...
1387,42,0.000129,fi_regionfill,tennis_soccerball_001,49.897377
1388,43,0.000184,fi_regionfill,tennis_soccerball_001,52.681568
1389,44,0.000098,fi_regionfill,tennis_soccerball_001,48.616127
1390,45,0.000223,fi_regionfill,tennis_soccerball_001,43.336800
1391,46,0.000234,fi_regionfill,tennis_soccerball_001,43.209152

In [3]:
metrics = pd.DataFrame()
metrics['model'] = df['model']
metrics['sequence_name'] = df['sequence_name']
metrics['inference_time'] = df['inference_time']
metrics['endpoint_error'] = df['endpoint_error']
metrics.groupby('model').mean()

               inference_time  endpoint_error
model
fi_kernelfill      288.167330        0.025923
fi_regionfill       70.209812        0.022468